
*{
    
    margin: 0;
    background-color:aliceblue;
}
body{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.bc{
    background-color: black;
}
h1{
    border: 5px solid green;
    font-size: 45px;
    color: #008000 ;
    font-weight: bolder;
    background-color: black;
    
}
div nav{
    margin-top: 50px;
    margin-bottom: 60px;
    
}

div nav{
    float: right;
    
}
div{
    height: 100px;
  
}
.bc h1{
    float: left;
    margin-top: 32px;
}
.bc .men li {
    display: inline-block;
    text-transform: uppercase;
}
a{
    color: black;
    font-weight: bold;
}
.bc li{
    margin-right: 15px;
}
h2{
    font-size: 24px;
    color: #008000;
    


/*partie2*/
}
p{
    line-height: 30px;
    color: green;



}
#découverte h2:hover{
    margin-bottom: 20px;
    background-color: black;



}



#découverte ul li{
    width: 300px;
    float: left;
    


}
#jesse{
    border-radius: 50%;
    
}
#walter{
    border-radius: 50%;
}
#Reservation{
    margin-top: auto;
    




}
.cate{
    background-color: black;
    height: 730px;
    background-image: url(ch.png);
    background-size:cover;


}
#step1{
    background-color:transparent;
    
}
#step2{
    background-color: transparent;
    
}
.RES{
    float: center;
    height: 200px;
  
    background-color: blue;
    
}
.aut li{
    background-color: blue;
    display:  block;
    


}
.blue{
    margin-top: 15px;
    
}
.reserve{
    background-color: transparent;
    font-size: 30px;

}
.reserve:hover{
    background-color: blue;
}

.RES .aut .blue{
    background-color: blue;
}

.aut{
    background-color: blue;
    padding-top: 40px;
    padding-left: 40%;
    font-size: 25px;
}
 .sub:hover{
    background-color: gray;

}
.menuu{
    height: 400px;
    

}
h4{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.li {
    display: inline-block;
    font-size: 25px;
    float: left;
    
}
.li ul li{
    padding-top: 50px;
}
.li ul{
    color: blue;
}








