
*{
    
    margin: 0;
    background-color:aliceblue;
}
body{
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.bc{
    background-color: black;
}
h1{
    border: 5px solid green;
    font-size: 45px;
    color: #008000 ;
    font-weight: bolder;
    background-color: black;
    
}
div nav{
    margin-top: 50px;
    margin-bottom: 60px;
    
}

div nav{
    float: right;
    
}
div{
    height: 100px;
  
}
.bc h1{
    float: left;
    margin-top: 32px;
}
.bc .men li {
    display: inline-block;
    text-transform: uppercase;
}
a{
    color: black;
    font-weight: bold;
}
.bc li{
    margin-right: 15px;
}
h2{
    font-size: 24px;
    color: #008000;
    


/*partie2*/
}
.header :hover {
    background-color: red;

}
.menuu ul li:hover {
    background-color: #003334;
}
p{
    line-height: 30px;
    color: green;



}

 .li.checked {
    color: #2037cb;
    text-decoration: line-through;
}
#découverte h2:hover{
    margin-bottom: 20px;
    background-color: black;



}



#découverte ul li{
    width: 300px;
    float: left;
    


}
#jesse{
    border-radius: 50%;
    
}
#walter{
    border-radius: 50%;
}
#Reservation{
    margin-top: auto;
    




}
.cate{
    background-color: black;
    height: 730px;
    background-image: url(ch.png);
    background-size:cover;


}
#step1{
    background-color:transparent;
    
}
#step2{
    background-color: transparent;
    
}




.aut{
    background-color: blue;
    padding-top: 40px;
    padding-left: 40%;
    font-size: 25px;
}
 .sub:hover{
    background-color: gray;

}
.menuu{
    height: 400px;
    background-color: black;    
    
}

h4{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
    background-color: black;

}
.menuu ul{
    background-color: black;
}
.menuu ul li{
    background-color: black;
}
.li {
    display: inline-block;
    font-size: 25px;
    float: left;
    
}
.li ::before :checked{
    background-color: #008000;
} 
.li ul li{
    padding: 25px 0;
}
.li ul{
    color: blue;
}
#partie3
input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  

  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  button {
    background-color: #04aa6d4b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  

  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  

  .container {
    padding: 16px;
  }
  

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
h4{
    color: #f1f1f1 ;
}
.Entrée{
    display: none;
    background-color: brown;}
.Menuprinci{
    display: none;
    background-color: brown;}
.Dessert{
    display: none;
    background-color: brown;
}
.dropbtn:hover+.Entrée{
    display: block;
    
}
.dropbtn:hover+.Dessert{
    display: block;
    
}
.dropbtn:hover+.Menuprinci{
    display: block;
    
}


